:root {
  --right-button-hover-color: #ffd063;
}

/* Product Intro (Container-1) */

html {
  background-color: #A0CADA;
}

body {
  margin: 0;
}

.logo {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 3%;
}

.container-1 {
  height: 1000px;
}

/* Split Left */

.container-1-left {
  float: left;
  width: 50%;
}

/* Image Fade In */

#fadewrap {
  opacity: 0;
  -webkit-transition: all 1.75s ease;
  -moz-transition: all 1.75s ease;
  -ms-transition: all 1.75s ease;
  -o-transition: all 1.75s ease;
  transition: all 1.75s ease;
  text-align: center;
}

.paul-pic {
  width: 80%;
}

/* Split Right */

.container-1-right {
  float: left;
  width: 40%;
  text-align: left;
  height: 100%;
  padding-right: 10%;
}


.container-1-right h1 {
  font-family: 'Raleway Bold', sans-serif;
  color: white;
  margin-top: 45px;
}

.container-1-right h2 {
  font-family: 'Raleway Bold', sans-serif;
  margin-top: 3%;
}

.container-1-right h3 {
  font-family: 'Roboto', sans-serif;
  padding-top: 1%;
}

iframe {
  margin: 0 auto;
  display: block;
}

.button {
  display: block;
  position: relative;
  margin: 10px auto 0 auto;
  height: 2.7rem;
  padding-top: 1.3rem;
  width: 20rem;
  text-align: center;
  color: #fff;
  background-color: #F5C10F;
  box-shadow: 2px 2px 4px #6d6d6d;
  border: 1px solid #F5C10F;
  border-radius: 4px;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.price {
  padding-top: 25px;
  margin: 0 auto;
  width: 190px;
}

.strikethough-price {
  text-decoration: line-through;
  color: white;
  float: left;
  font-family: 'Raleway Bold', sans-serif;
  margin-right: 15px;
  color: black;
}

.sale-price {
  float: left;
  font-family: 'Raleway Bold', sans-serif;
  color: red;
  text-align: center;
}

/* What's Inside Section (container-2) */

.container-2 {
  text-align: center;
  font-family: 'Raleway Bold', sans-serif;
  color: black;
  margin-top: 3%;
  height: 770px;
  width: 100%;
  background-color: white;
  clear: both;
}

.container-2-left {
  width: 50%;
  float: left;
}

.product-pic {
  width: 90%;
}

.container-2-right {
  width: 40%;
  padding: 100px 5% 0;
  float: left;
  text-align: center;
  margin: 0 auto;
}

.container-2 h1 {
  color: black;
  font-family: 'Raleway Bold', sans-serif;
  margin-bottom: 5%;
  margin-top: -3%;
}

.container-2-right img {
  width: 70px;
  height: 70px;
}

.product-description h3 {
  width: 50%;
  padding-bottom: 5%;
}

/* Testimonials Section (container-3) */

.container-3 {
  text-align: center;
  font-family: 'Raleway Bold', sans-serif;
  color: black;
  clear: both;
  background-color: #e5e5e5;
  height: 450px;
}

.container-3-left {
  width: 30%;
  float: left;
  padding-top: 10px;
}

#paul-headshot {
  width: 300px;
  height: 300px;
  margin-top: 5%;
  margin: 0 auto;
}

.container-3-right {
  width: 70%;
  float: left;
  padding-top: 150px;
}

h1.about-paul {
  color: black;
  font-family: 'Raleway Bold', sans-serif;
  padding-top: 25px;
  margin: 0;
}

h3.about-paul {
  line-height: 150%;
  width: 70%;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Testimonials (container-4) */

.Testimonials {
  background: #F2F2F2;
  height: 300px;
  color: #777;
  position: relative;
  overflow: hidden
}

.Testimonials blockquote {
  width: 85%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 87%;
}

.Testimonials blockquote:before {
  content: open-quote" "
}

.Testimonials blockquote:after {
  content: " "close-quote
}

.Testimonials h4 {
  text-align: center;
  margin: 35px 0 50px
}


.Testimonials input[ type="radio"] {
  display: none
}

.Testimonials label {
  padding: 0 9px;
  cursor: pointer;
  border: 2px solid #EDC345;
  margin: 10px;
  border-radius: 50%;
  transition: all .5s;
}

.Testimonials aside {
  width: 122px;
  margin: 0 auto;
  position: absolute;
  bottom: 15%;
  right: 50%;
  transform: translatex(50%)
}

.Testimonials label:hover {
  background-color: #EDC345;
}

.Testimonials input+div {
  opacity: 1;
  transition: all 1s ease-out;
  width: 100%;
  position: absolute;
  top: 350px;
}

.Testimonials input[id="slide1"]:checked~aside label[for="slide1"], .Testimonials input[id="slide2"]:checked~aside label[for="slide2"], .Testimonials input[id="slide3"]:checked~aside label[for="slide3"] {
  background-color: #EDC345;
  border: none
}

.Testimonials input[id="slide1"]:checked+div, .Testimonials input[id="slide2"]:checked+div, .Testimonials input[id="slide3"]:checked+div {
  opacity: 1;
  top: 40px
}

/* Media Queries  */

@media (max-width: 1040px) {
  .container-1 {
    height: 980px;
  }
  .container-1-left {
    width: 100%;
  }

  .paul-pic {
    width: 300px;
  }

  .container-1-right {
    width: 100%;
    padding: 0 10px;
  }

  h1 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  h2 {
    font-family: 'Raleway Bold', sans-serif;
    margin-top: 3%;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    padding-top: 1%;
  }

  .container-2-left, .container-2-right {
    float: none;
    width: 100%;
    padding: 0;
  }

  .product-pic {
    width: 300px;
  }

  .container-3 {
    height: 700px;
  }

  .container-3-left, .container-3-right {
    float: none;
    width: 100%;
    padding: 0;
  }

  #paul-headshot {
    width: 200px;
    height: 200px;
  }

  .about-paul {
    padding-top: 300px;
  }

}
