:root {
  --right-button-hover-color: #ffd063;
}

/* Hero Section */

html {
  background-color: #A0CADA;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 3%;
}

.container {
  clear: both;
  content: "";
  display: table;
}

/* Split Left */
.split-left {
  float: left;
  width: 50%;
}

/* Fade In */

#fadewrap {
    opacity: 0;
   -webkit-transition: all 1.75s ease;
   -moz-transition: all 1.75s ease;
   -ms-transition: all 1.75s ease;
   -o-transition: all 1.75s ease;
    transition: all 1.75s ease;
    text-align: center;
}


/* Split Right */

.split-right {
  float: left;
  width: 50%;
  margin-top: 5%;
  text-align: left;
}

h1 {
  font-family: 'Raleway Bold', sans-serif;
  color: white;
  margin-top: -3%;
}

h2 {
  font-family: 'Raleway Bold', sans-serif;
  margin-top: 3%;
}
h3 {
  font-family: 'Roboto', sans-serif;
  padding-right: 15%;
  padding-top: 1%;
}

iframe {
  margin-bottom: 3%;
  margin-left: 13%;
}

.button {
  display: block;
  position: relative;
  left: 35%;
  top: 40%;
  height: 2.7rem;
  padding-top: 1.3rem;
  width: 20rem;
  text-align: center;
  color: #fff;
  background-color: #F5C10F;
  box-shadow: 2px 2px 4px #6d6d6d;
  border: 1px solid #F5C10F;
  border-radius: 4px;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}


.price {
  height: 75px;
  padding-left: 20%;
}

.strikethough-price {
  text-decoration:line-through;
  color: white;
  float: left;
  font-family: 'Raleway Bold', sans-serif;
  margin-right: 15px;
  color: black;
}

.sale-price {
  float: left;
  font-family: 'Raleway Bold', sans-serif;
  color: red;
  text-align: center;
}


.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

/* What's Inside Section */

.container-2 {
  text-align: center;
  font-family: 'Raleway Bold', sans-serif;
  color: black;
  margin-top: 3%;
  height: 700px;
  width: 100%;
  background-color: white;
  clear: both;
}

.container-2 h1 {
  color: black;
  font-family: 'Raleway Bold', sans-serif;
  margin-bottom: 5%;
  margin-top: -3%;
}

.container-2 img {
  width: 500px;
  height: 500px;
}

.product-description {
  margin-left: 15%;
}

.product-description img {
  width: 70px;
  height: 70px;
  margin-left: 15%;
}

.product-description h3 {
  width: 50%;
  padding-bottom: 5%;
}

/* Testimonials Section */

.container-3 {
  text-align: center;
  font-family: 'Raleway Bold', sans-serif;
  color: black;
  background-color: white;
  clear: both;
}

.split-top {
  width: 100%;
}

.split-bottom {
  width: 100%;
}

.headshot-container {
  background-color: #e5e5e5;
  height: 450px;
}

#paul-headshot {
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 5%;
  padding-left: 2%;
}

h1.about-paul {
  color: black;
  display: inline-block;
  font-family: 'Raleway Bold', sans-serif;
  margin-left: -20%;
  margin-top: 2%;
}

h3.about-paul {
  line-height: 150%;
  width: 70%;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Testimonials */

.Testimonials {
  background: #F2F2F2;
  height: 300px;
              /* padding-top: 55px; */
  color: #777;
  position: relative;
  overflow: hidden
}

.Testimonials blockquote {
  width:85%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 87%;
}

.Testimonials blockquote:before {
  content:open-quote" "
}

.Testimonials blockquote:after {
  content:" "close-quote
}

.Testimonials h4 {
  text-align: center;
  margin: 35px 0 50px
}


/* .Testemonials input{display: inline-block;} */

.Testimonials input[ type="radio"] {
  display: none
}

.Testimonials label {
  padding:0  9px;
  cursor: pointer;
  border:2px solid #EDC345;
  margin:10px;
  border-radius: 50%;
  transition: all .5s;
}

.Testimonials aside {
  width: 122px;
  margin: 0 auto;
  position:absolute;
  bottom: 15%;
  right: 50%;
  transform: translatex(50%)
}

 .Testimonials label:hover {
   background-color: #EDC345;
}

.Testimonials input + div {
  opacity: 1;
   transition: all 1s ease-out;
    width:100%;
    position: absolute;
    top: 350px;
}

.Testimonials input[id="slide1"]:checked ~ aside label[for="slide1"],
.Testimonials input[id="slide2"]:checked ~ aside label[for="slide2"],
.Testimonials input[id="slide3"]:checked ~ aside label[for="slide3"]

{background-color: #EDC345;border:none}


.Testimonials input[id="slide1"]:checked + div,
.Testimonials input[id="slide2"]:checked + div,
.Testimonials input[id="slide3"]:checked + div
 {opacity: 1;top:40px}



/* Media Queries  */
@media (max-width: 800px) {
  .split-left {
    width: 100%;
    }

    .split-right {
      width: 100%;

    }

    h1 {
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
    h2 {
      font-family: 'Raleway Bold', sans-serif;
      margin-top: 3%;
    }
    h3 {
      font-family: 'Roboto', sans-serif;
      padding-top: 1%;
    }

    iframe {
      margin-bottom: 3%;
      margin-left: 13%;
    }
    .button {
      display: block;
      position: relative;
      height: 2.7rem;
      padding-top: 1.3rem;
      margin-left: 8%;
      width: 15rem;
      text-align: center;
      color: #fff;
      background-color: #F5C10F;
      box-shadow: 2px 2px 4px #6d6d6d;
      border: 1px solid #F5C10F;
      border-radius: 4px;
      font-size: 1.3rem;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      transform: translateX(-50%);
    }
  }



@media(max-height: 700px) {
  .button{
    top: 70%;
  }
}
