:root {
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
}

html{
  background-color: #A0CADA;
}

.logo{
  height: 50px;
  width: 50px;
}

.container {
  clear: both;
  content: "";
  display: table;
}

/* Split Left */
.split-left{
  float: left;
  width: 50%;
}

/* Fade In */

#fadewrap {
    opacity: 0;
   -webkit-transition: all 1.75s ease;
   -moz-transition: all 1.75s ease;
   -ms-transition: all 1.75s ease;
   -o-transition: all 1.75s ease;
    transition: all 1.75s ease;
}


/* Split Right */

.split-right{
  float: left;
  width: 50%;
  margin-top: 5%;
  text-align: left;
}

h1{
  font-family: 'Raleway Bold', sans-serif;
  color: white;

}
h2{
  font-family: 'Raleway', sans-serif;
}
h3{
  font-family: 'Roboto', sans-serif;
}

.button {
  display: block;
  position: relative;
  left: 28%;
  top: 40%;
  height: 2.7rem;
  padding-top: 1.3rem;
  width: 30rem;
  text-align: center;
  color: #fff;
  background-color: #F5C10F;
  box-shadow: 2px 2px 4px #6d6d6d;
  border: 1px solid #F5C10F;
  border-radius: 4px;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}
